.icon {
    color: red;
    visibility: hidden;
}

#m114 {
    position: absolute;
    bottom: 140px;
    left: 150px;
}

#m135 {
    position: absolute;
    bottom: 110px;
    left: 195px;
}

#m205 {
    position: absolute;
    bottom: 145px;
    left: 270px;
}

#m226 {
    position: absolute;
    bottom: 270px;
    left: 330px;
}